# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Builds / caches
dist/
build/
out-tsc/
tmp/
.angular/
.angular/cache/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
